extends layout

block content
  div#main
    h2 Shrub List
    li The complete list of all of our stored plants.
    hr

    div
      ul      
        each shrub in shrub_list
          li 
            img(src=shrub.images[0])
            a(href=shrub.url): h3 #{shrub.common_name[0]}
            p #{shrub.latin_name}
            p #{shrub.brief_description}
        else
          li Oh no! There are no shrubs!


  
        
        
      
      