extends layout

block content
  div#main
    h2 #{shrub.common_name[0]}
    li #{shrub.brief_description}
    hr

    div
      ul.detail      
        li 
          img(src=shrub.images[0])
          h4 #{shrub.common_name[0]}
          p #{shrub.latin_name}
          p #{shrub.brief_description}
          h4 Plant Type
          each item in shrub.plant_type
            | #{item} 
          else
            li
          h4 Plant Shape
          each item in shrub.plant_shape
            | #{item} 
          else
            li
          h4 Bloom Time
          each item in shrub.bloom_time
            | #{item} 
          else
            li  
        li 
          img(src=shrub.images[1])
          h4 Leaf Colors
          each item in shrub.leaf_color
            | #{item} 
          else
            li 
          h4 Leaf Size
          each item in shrub.leaf_dimensions
            | #{item} 
          else
            li 
          h4 Flower Colors
          each item in shrub.flower_color
            | #{item} 
          else
            li 
          h4 Flower Size
          each item in shrub.flower_dimensions
            | #{item} 
          else
            li
        li 
          img(src=shrub.images[2])
          h4 Stem Colors
          each item in shrub.stem_color
            | #{item} 
          else
            li 
          h4 Bark Colors
          each item in shrub.bark_color
            | #{item} 
          else
            li 
          h4 Sun Requirements
            p #{shrub.sun_exposure}
          h4 Soil Requirements
            p #{shrub.soil}
          h4 Water Requirements
            p #{shrub.water_requirements}      
        li 
          h3 Is it dangerous?
            p #{shrub.dangerous_description}


      