extends layout

block content
  div#main
    h2 Search Results
    li All of the plants that matched your query.
    hr
  
  div
      ul      
        each shrub in searchedData[0]
          li 
            img(src=shrub.images[0])
            a(href=shrub.url): h3 #{shrub.common_name[0]}
            p #{shrub.latin_name}
            p #{shrub.brief_description}
        else
          li Oh no! There are no matches!
  

