extends layout

block content
  div#main
    h2 #{shrub.common_name[0]}
    li #{shrub.brief_description}
    hr

    div
      ul      
          li 
            img(src=shrub.images[0])
            a(href=shrub.url): h3 #{shrub.common_name[0]}
            p #{shrub.latin_name}
            p #{shrub.brief_description}
        
    hr
    p
      a(href=shrub.url+'/delete') Delete Shrub


  
        
        
      
      