extends layout

block content
  div#main
    h2 Shrub List
    li The complete list of all of our stored plants.
    hr

    div
      ul      
        each shrub in shrub_list
          li 
            img(src=shrub.images[0])
            a(href=shrub.urlBackend): h3 #{shrub.common_name}
            p #{shrub.latin_name}
            p #{shrub.brief_description}
        else
          li Oh no! There are no shrubs!
      //- ul      
      //-   li 
      //-     img(src=shrub_list.images[0])
      //-     a(href=shrub_list.url): h3 #{shrub_list.common_name}
      //-     p #{shrub_list.latin_name}
      //-     p #{shrub_list.brief_description}
        


  
        
        
      
      